newrelic_account_id = 1234567
newrelic_api_key    = "REPLACE_WITH_YOUR_NEW_RELIC_USER_KEY" # NerdGraph user key, format NRAK-...
newrelic_region     = "US" # or "EU"
domain              = "www.example.com"
email               = "you@example.com"
